---
import "../styles/global.css"
import Navbar from "../components/NavBar";
import Footer from "../components/Footer";
const {title = "PORTAFOLIO | LEONARDO FLORES"} = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>

        <meta
            name="description"
            content="Portafolio de Leonardo Flores, Ingeniero en Software con experiencia en NestJS, Flutter, Docker y TypeScript."
        />
        <meta name="author" content="Leonardo Flores " />

        <link rel="icon" type="image/png" href="/logo.svg" />

    </head>

    <body class="font-sans bg-white text-gray-900 scroll-smooth">
        <Navbar client:load />

        <main >
            <slot />
        </main>
        <Footer client:load />
    </body>
</html>
